.board {
  border-radius: 8px;
  overflow: hidden;

  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  max-width: 750px;
  min-width: 300px;
  background-color: var(--markOutline);
}

.square {
  background-color: var(--squareColor);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover{
  background-color: var(--squareHover);
}

.mark {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  transition: transform 1s
}

.white {
  background-color: var(--whiteMarkColor);
}

.black {
  background-color: var(--blackMarkColor);
}

.board_players_turn {
  cursor: pointer;
}

.mark_moving_with_cursor {
  padding:0px;
  width: 0px;
  height: 0px;
  visibility: hidden;
  pointer-events:none;
  position: absolute;
}

@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}