.create_game_popup {
  background-color: white;
  width: 400px;
  height: 700px;
  border-radius: 16px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .main-container > * {
//   display: flex;
//   justify-content:center;
// }

.circle {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.circle:hover {
  transform: scale(1.1);
}

.circle_1 {
  background-color: black;
}

.circle_2 {
  width: 85px;
  height: 85px;
  background: linear-gradient(-45deg, gray, gray 50%, black 51%);
}

.circle_3 {
  background-color: gray;
}

.circle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
